html, body
{
    padding: 0; background-color: #101010; font-family: 'Roboto', sans-serif; font-size: 20px; color: whitesmoke;
}

::-webkit-scrollbar { 
    display: none; 
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}

#source {
    font-size: 10px;
    color: whitesmoke;
}

.logo {
    width: 75px; max-width: 150;
}

.dark {
    color: darkslategrey;
}

#arrow {
    width: 20px; margin-top: 50px;
}

.small {
    font-size: 14px; color: grey;
}

#table {
    margin: auto;
}

.text {
    color: whitesmoke; text-align: center; font-size: 30; width: 100%; height: 100%; margin-left: 50px; margin-right: 50px; margin-top: 25%;
}

#words {
    margin-top: 25%; width: 100%; height: 100%;
}

#wrapper
{
    height: 100%; min-height: 100%;
}

.white 
{
    color: #101010; background-color: whitesmoke;
}

.black 
{
    color: whitesmoke; background-color: #101010;
}

.intro2 {
    color: #101010;
}

.trigger1 {
    margin-top: 5%;
}

.full {
    height: 100%; width: 100%; background-color: #101010;
}

.fullwhite {
    height: 120%; width: 100%; background-color: whitesmoke;
}

.fullfinal {
    height: 70%; width: 100%; background-color: #101010;
}

/*ScrollMagic Stuff*/

#pinContainer {
		width: 100%; height: 100%; overflow: hidden;
	} .panel {
		height: 100%; width: 100%; position: absolute;
	}

span.highlight {
    background-color: black;
}

.shooter {
    width: 60%;
}

.one {
    background-image: url("/SharingIsCaring/images/apple.jpg"); background-position: center;
}
.two {
    background-color: #101010;
}

.three {
    background-image: url("/SharingIsCaring/images/sanb.png"); background-position: center right; font-size: 30; background-color: #101010;
}

#words {
    margin-left: 20%; margin-right: 25%; margin-top: 18%;
}

.four {
    background-color: #101010;
}

#words2 {
    width: 50%; margin-left: 25%; margin-top: 25%;
}

/*The FBI has a court order demanding that Apple helps unlock an iPhone used by the gunman behind the San Bernardino terror attack in 2015, Syed Rizwan Farook. Farook and his wife killed a total of 14 people in the California city last December before the two of them were fatally shot by police.*/